[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/linkit"]
	path = external/linkit
	url = https://github.com/carlos-lorenzo/linkit.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/natanaeljr/stb-cmake-package.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
